.checkbox {
    align-items: flex-start;
    display: flex;
    gap: 8px;

    &:not(:last-child) {
        margin-bottom: var(--default-vertical-indent);
    }

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .checkbox__icon {
            background-color: var(--color-1);
            border-color: var(--color-1);
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3979 3.77299L5.39795 9.77299C5.34569 9.82543 5.28359 9.86704 5.21522 9.89543C5.14685 9.92382 5.07354 9.93843 4.99951 9.93843C4.92548 9.93843 4.85217 9.92382 4.7838 9.89543C4.71543 9.86704 4.65333 9.82543 4.60107 9.77299L1.97607 7.14799C1.92375 7.09566 1.88224 7.03355 1.85393 6.96518C1.82561 6.89682 1.81104 6.82355 1.81104 6.74955C1.81104 6.67555 1.82561 6.60228 1.85393 6.53392C1.88224 6.46555 1.92375 6.40344 1.97607 6.35111C2.0284 6.29879 2.09051 6.25728 2.15888 6.22897C2.22724 6.20065 2.30051 6.18607 2.37451 6.18607C2.44851 6.18607 2.52178 6.20065 2.59014 6.22897C2.65851 6.25728 2.72062 6.29879 2.77295 6.35111L4.99998 8.57814L10.602 2.97705C10.7077 2.87138 10.851 2.81201 11.0004 2.81201C11.1499 2.81201 11.2932 2.87138 11.3989 2.97705C11.5046 3.08272 11.5639 3.22604 11.5639 3.37549C11.5639 3.52493 11.5046 3.66825 11.3989 3.77393L11.3979 3.77299Z' fill='white'/%3E%3C/svg%3E%0A");
        }

        &:not(:disabled) ~ .checkbox__icon {
            cursor: pointer;
        }

        &:disabled ~ .checkbox__icon {
            background-color: var(--color-9);
            border-color: var(--color-9);
            user-select: none;
        }

        &:checked:disabled ~ .checkbox__icon {
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3979 3.77299L5.39795 9.77299C5.34569 9.82543 5.28359 9.86704 5.21522 9.89543C5.14685 9.92382 5.07354 9.93843 4.99951 9.93843C4.92548 9.93843 4.85217 9.92382 4.7838 9.89543C4.71543 9.86704 4.65333 9.82543 4.60107 9.77299L1.97607 7.14799C1.92375 7.09566 1.88224 7.03355 1.85393 6.96518C1.82561 6.89682 1.81104 6.82355 1.81104 6.74955C1.81104 6.67555 1.82561 6.60228 1.85393 6.53392C1.88224 6.46555 1.92375 6.40344 1.97607 6.35111C2.0284 6.29879 2.09051 6.25728 2.15888 6.22897C2.22724 6.20065 2.30051 6.18607 2.37451 6.18607C2.44851 6.18607 2.52178 6.20065 2.59014 6.22897C2.65851 6.25728 2.72062 6.29879 2.77295 6.35111L4.99998 8.57814L10.602 2.97705C10.7077 2.87138 10.851 2.81201 11.0004 2.81201C11.1499 2.81201 11.2932 2.87138 11.3989 2.97705C11.5046 3.08272 11.5639 3.22604 11.5639 3.37549C11.5639 3.52493 11.5046 3.66825 11.3989 3.77393L11.3979 3.77299Z' fill='%23999999'/%3E%3C/svg%3E%0A");
            background-color: var(--color-9);
            border-color: var(--color-9);
        }
    }

    &__icon {
        border-radius: 6px;
        border: 1px solid var(--color-8);
        background-color: #fff;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: block;
        height: 20px;
        min-width: 20px;
        margin-top: 2px;
        transition: background-color 0.3s, border-color 0.3s;
        width: 20px;
    }
}

.radio {
    align-items: flex-start;
    display: flex;
    gap: 8px;

    &:not(:last-child) {
        margin-bottom: var(--default-vertical-indent);
    }

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .radio__icon {
            border-color: var(--color-1);
            position: relative;
            z-index: 1;

            &::after {
                background-color: var(--color-1);
                border-radius: 50%;
                content: '';
                height: 12px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 12px;
                z-index: 1;
            }
        }

        &:not(:disabled) ~ .radio__icon {
            cursor: pointer;
        }

        &:disabled ~ .radio__icon {
            border-color: var(--color-9);
            user-select: none;
        }

        &:checked:disabled ~ .radio__icon {
            background-color: #fff;
            border-color: var(--color-9);

            &::after {
                background-color: var(--color-9);
            }
        }
    }

    &__icon {
        border-radius: 50%;
        border: 2px solid var(--color-8);
        background-color: #fff;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: block;
        height: 20px;
        min-width: 20px;
        margin-top: 2px;
        transition: background-color 0.3s, border-color 0.3s;
        width: 20px;
    }
}