.popover {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

    &__shade {
        background-color: rgba(#191919, 0.2);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    &__body {
        background-color: #fff;
        border-radius: 20px 20px 0 0;
        bottom: 0;
        height: 80%;
        left: 0;
        position: absolute;
        padding-top: 30px;
        padding-bottom: 30px;
        right: 0;
        transform: translateY(100%);
        transition: transform 0.3s;
        top: auto;
        z-index: 2;

        &.is-open {
            transform: translateY(0);
        }

        &--popup {
            border-radius: 20px;
            bottom: auto;
            height: auto;
            left: 50%;
            padding: 24px;
            opacity: 0;
            transform: translate(-50%, calc(-50% + 30px));
            transition: transform 0.3s, opacity 0.3s;
            top: 50%;
            width: calc(100% - var(--container_padding) * 2);

            &.is-open {
                opacity: 1;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__closer {
        @include active-area;
        @include button-reset;
        background-color: var(--color-9);
        border-radius: 4px;
        height: 4px;
        left: 50%;
        position: absolute;
        top: 10px;
        transform: translateX(-50%);
        width: 64px;
    }

    &__body-inner {
        height: 100%;
        overflow-y: auto;
        padding-left: var(--container_padding);
        padding-right: var(--container_padding);
    }
}

.popover-message {
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 24px;
    }

    img {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 78px;
    }

    h2 {
        margin-bottom: 12px;
    }
}