.qnt {
    display: flex;

    &__button {
        @include active-area;
        @include button-reset;
        align-items: center;
        border: 1px solid var(--color-8);
        border-radius: 4px;
        display: flex;
        height: 24px;
        justify-content: center;
        width: 24px;

        svg {
            fill: var(--color-1);
            height: 14px;
            width: 14px;
        }
    }

    &__input {
        border: none;
        background-color: transparent;
        box-shadow: none;
        caret-color: transparent;
        color: var(--color-1);
        font-size: var(--smaller-font-size);
        height: 24px;
        padding: 0;
        width: 24px;
        text-align: center;
    }
}