.qnt {
    --btn_size: 24px;
    --svg_size: 14px;
    --border_radius: 4px;
    --font_size: var(--smaller-font-size);
    display: flex;

    &--big {
        --btn_size: 48px;
        --svg_size: 20px;
        --border_radius: var(--default-border-radius);
        --font_size: 20px;
    }

    &__button {
        @include active-area;
        @include button-reset;
        align-items: center;
        border: 1px solid var(--color-8);
        border-radius: var(--border_radius);
        display: flex;
        height: var(--btn_size);
        justify-content: center;
        min-width: var(--btn_size);
        position: relative;
        width: var(--btn_size);
        z-index: 1;

        svg {
            fill: var(--color-1);
            height: var(--svg_size);
            width: var(--svg_size);
        }
    }

    &__input {
        border: none;
        background-color: transparent;
        box-shadow: none;
        caret-color: transparent;
        color: var(--color-1);
        font-size: var(--font_size);
        height: var(--btn_size);
        padding: 0;
        width: var(--btn_size);
        text-align: center;
    }
}