.responsive-video {
    border-radius: var(--default-border-radius);
    height: 0;
    margin-bottom: var(--default-vertical-indent);
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;

    &:last-child {
        margin-bottom: 0;
    }

    iframe,
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}