.select {
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.7959 9.79586L13.2959 17.2959C13.1914 17.4007 13.0672 17.484 12.9304 17.5407C12.7937 17.5975 12.6471 17.6267 12.499 17.6267C12.351 17.6267 12.2043 17.5975 12.0676 17.5407C11.9309 17.484 11.8067 17.4007 11.7021 17.2959L4.20215 9.79586C3.9908 9.58451 3.87207 9.29787 3.87207 8.99898C3.87207 8.7001 3.9908 8.41345 4.20215 8.20211C4.41349 7.99076 4.70014 7.87203 4.99902 7.87203C5.29791 7.87203 5.58455 7.99076 5.7959 8.20211L12.5 14.9062L19.204 8.20117C19.4154 7.98983 19.702 7.87109 20.0009 7.87109C20.2998 7.87109 20.5864 7.98983 20.7978 8.20117C21.0091 8.41252 21.1278 8.69916 21.1278 8.99805C21.1278 9.29693 21.0091 9.58358 20.7978 9.79492L20.7959 9.79586Z' fill='%231A1A1A'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
    border: 1px solid var(--color-9);
    border-radius: var(--default-border-radius);
    font-family: var(--default-font);
    font-size: var(--default-font-size);
    font-weight: var(--default-font-weight);
    height: 54px;
    overflow: hidden;
    padding: 5px 64px 5px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &:disabled {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.7959 9.79586L13.2959 17.2959C13.1914 17.4007 13.0672 17.484 12.9304 17.5407C12.7937 17.5975 12.6471 17.6267 12.499 17.6267C12.351 17.6267 12.2043 17.5975 12.0676 17.5407C11.9309 17.484 11.8067 17.4007 11.7021 17.2959L4.20215 9.79586C3.9908 9.58451 3.87207 9.29787 3.87207 8.99898C3.87207 8.7001 3.9908 8.41345 4.20215 8.20211C4.41349 7.99076 4.70014 7.87203 4.99902 7.87203C5.29791 7.87203 5.58455 7.99076 5.7959 8.20211L12.5 14.9062L19.204 8.20117C19.4154 7.98983 19.702 7.87109 20.0009 7.87109C20.2998 7.87109 20.5864 7.98983 20.7978 8.20117C21.0091 8.41252 21.1278 8.69916 21.1278 8.99805C21.1278 9.29693 21.0091 9.58358 20.7978 9.79492L20.7959 9.79586Z' fill='%23999999'/%3E%3C/svg%3E%0A");
        background-color: var(--color-9);
        color: var(--color-6);
    }

    &.error {
        border-color: var(--error);
    }
}