.catalog-top-block {
    background-color: #fff;
    left: 0;
    margin-left: calc(0.01px - var(--container_padding));
    margin-right: calc(0.01px - var(--container_padding));
    margin-top: -16px;
    position: sticky;
    padding: 16px var(--container_padding) 24px;
    right: 0;
    top: 0;
    z-index: 2;
}

.catalog-search-block {
    display: flex;
    gap: 8px;

    &:not(:last-child) {
        margin-bottom: var(--default-vertical-indent);
    }

    .search-form {
        flex-grow: 1;
        margin-bottom: 0;
    }
}

.filter {
    padding-bottom: 54px;

    &__section {
        &:not(:last-child) {
            border-bottom: 1px solid var(--color-9);
            margin-bottom: var(--default-vertical-indent);
            padding-bottom: var(--default-vertical-indent);
        }

        h3 {
            margin-bottom: 12px;
        }
    }

    &__section-list {
        .checkbox {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    &__section-cut {
        display: none;
        margin-bottom: 12px;
    }

    &__section-cut-toggler {
        @include active-area;
        @include button-reset;
        color: var(--color-1);
        position: relative;
        text-decoration: underline;
    }

    &__button-block {
        background-color: #fff;
        bottom: 0;
        display: flex;
        gap: 16px;
        left: 0;
        position: fixed;
        padding: var(--default-vertical-indent) var(--container_padding) 30px;
        right: 0;
        top: auto;
        z-index: 2;
    }
}

.price-inputs {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    &__item {
        align-items: center;
        display: flex;
        gap: 12px;
    }

    &__item-title {
        font-size: 18px;
    }

    .input-group__input {
        font-size: 18px;
        height: 44px;
        padding-top: 10px;
    }
}

.section-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px;
    //padding-top: var(--default-vertical-indent);
}

.card {
    position: relative;
    z-index: 1;

    &__favorite {
        @include button-reset;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 8px 10px rgba(82, 82, 82, 0.25);
        border-radius: 8px;
        border: none;
        display: flex;
        height: 34px;
        justify-content: center;
        left: auto;
        position: absolute;
        right: 12px;
        top: 12px;
        width: 34px;
        z-index: 2;

        &.is-active {
            svg {
                fill: var(--error);
            }
        }

        svg {
            fill: var(--color-1);
            height: 18px;
            width: 18px;
        }
    }

    &__image {
        border-radius: var(--default-border-radius);
        display: block;
        margin-bottom: 8px;
        overflow: hidden;
    }

    &__title {
        color: var(--color-1);
        font-weight: var(--biggest-font-weight);
        text-decoration: none;

        &::after {
            bottom: 0;
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }

        &:not(:last-child) {
            margin-bottom: 2px;
        }
    }

    &__price {
        font-weight: var(--bigger-font-weight);
    }

    &__discount {
        color: var(--error);
    }
}