.order {
    border-radius: var(--default-border-radius);
    border: 1px solid var(--color-9);
    display: flex;
    gap: 16px;
    padding: 16px;
    position: relative;
    z-index: 1;

    &:not(:last-child) {
        margin-bottom: var(--default-vertical-indent);
    }

    &__image {
        align-self: flex-start;
        min-width: 80px;
        width: 80px;

        img {
            border-radius: 4px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__title {
        align-items: flex-start;
        color: var(--color-1);
        display: flex;
        font-size: var(--smaller-font-size);
        font-weight: var(--biggest-font-weight);
        gap: 16px;
        justify-content: space-between;
        margin-bottom: 0;
        word-break: break-all;
    }

    &__status {
        background-color: var(--color-9);
        border-radius: 6px;
        font-size: 10px;
        font-weight: var(--default-font-weight);
        padding: 3px 8px;
        white-space: nowrap;

        &--complete {
            background-color: rgba(#0C9409, 0.1);
            color: var(--success);
        }

        &--canceled {
            background-color: rgba(#ED1010, 0.1);
            color: var(--error);
        }
    }

    &__prop {
        color: var(--color-5);
        font-size: var(--smallest-font-size);
    }

    &__bottom {
        align-items: center;
        display: flex;
        gap: 16px;
        justify-content: space-between;
        margin-top: auto;

        .button {
            @include active-area;

            &::after {
                height: 100%;
            }
        }
    }

    &__price {
        color: var(--color-1);
        font-size: var(--smaller-font-size);
        font-weight: var(--biggest-font-weight);
    }

    &__discount {
        color: var(--error);
    }
}