<header class="header">
    <a class="header__link is-active" href="#">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#home_icon" />
        </svg>
        <span>Каталог</span>
    </a>

    <a class="header__link" href="#">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#search_icon" />
        </svg>
        <span>Поиск</span>
    </a>

    <a class="header__link" href="#">
        <span class="header__link-qnt-container">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#heart_icon" />
            </svg>
            <span class="header__link-qnt">10</span>
        </span>
        <span>Избранное</span>
    </a>

    <a class="header__link" href="#">
        <span class="header__link-qnt-container">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#cart_icon" />
            </svg>
            <span class="header__link-qnt">10</span>
        </span>
        <span>Корзина</span>
    </a>

    <a class="header__link" href="#">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#user_icon" />
        </svg>
        <span>Аккаунт</span>
    </a>
</header>